{{ 'cart-drawer.css' | asset_url | stylesheet_tag }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11/dist/vue.min.js"></script>
<script src="{{ 'cart-drawer.js' | asset_url }}"></script>


<div class="cart-drawer">
  <div class="cart-drawer-box">
    
    <header class="cart-drawer-header">
      <div class="cart-drawer-header-left">

        <h2>My cart</h2>

        <span class="cart-drawer-header-right-items">{{ cart.item_count }} items addet to cart</span>

      </div>
      

      <div class="cart-drawer-header-right">

        <button class="cart-drawer-header-right-close" type="button">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M10.6491 8.99995L17.6579 1.99089C18.114 1.53499 18.114 0.797842 17.6579 0.341932C17.202 -0.113977 16.4649 -0.113977 16.0089 0.341932L8.99989 7.35098L1.99106 0.341932C1.53493 -0.113977 0.798002 -0.113977 0.342092 0.341932C-0.114031 0.797842 -0.114031 1.53499 0.342092 1.99089L7.35093 8.99995L0.342092 16.009C-0.114031 16.4649 -0.114031 17.2021 0.342092 17.658C0.5693 17.8854 0.868044 17.9996 1.16657 17.9996C1.4651 17.9996 1.76363 17.8854 1.99106 17.658L8.99989 10.6489L16.0089 17.658C16.2364 17.8854 16.5349 17.9996 16.8334 17.9996C17.132 17.9996 17.4305 17.8854 17.6579 17.658C18.114 17.2021 18.114 16.4649 17.6579 16.009L10.6491 8.99995Z" fill="#878787"/>
          </svg>
        </button>

      </div>

    </header>

    {% form 'cart', cart, class: 'cart-drawer-form' %}
      {% if cart.item_count == 0 %}
        <p class="cart-drawer-empty">Your cart is empty</p>
      {% else %}
        <div class="cart-drawer-items">
          {% for item in cart.items %}
            <div class="cart-drawer-item" data-line-item-key="{{ item.key }}">
              <div class="cart-drawer-item-image">
                <img src="{{ item.image | img_url: '200x' }}" alt="{{ item.title }}">
              </div>
              <div class="cart-drawer-item-main">
                <div class="cart-drawer-item-main-flex">
                  <div class="cart-drawer-item-main-flex-left">
                    <h3 class="cart-drawer-item__wraper-title">
                      <a href="{{ item.url }}">{{ item.product.title }}</a>
                    </h3>
                    {% comment %} <span>{{ item.variant.title }}</span> {% endcomment %}
                    <div class="cart-drawer-quantity-selector">
                      <button class="cart-drawer-quantity-selector-minus" type="button">-</button>
                      <input type="text" readonly value="{{ item.quantity }}">
                      <button class="cart-drawer-quantity-selector-plus" type="button">+</button>
                    </div>
                  </div>
                  <div class="cart-drawer-item__wrapper-price">
                    <div class="cart-drawer-item-main-flex-right">
                      <span>{{ item.final_line_price | money }}</span>
                    </div>
  
                    {% if item.product.compare_at_price and item.product.compare_at_price > 0 %}
                      <span>{{ item.quantity | times: item.product.compare_at_price | money }}</span>
                    {% endif %}
                  </div>
                  <button class="cart-drawer-item-delete" type="button">Удалить товар</button>

                </div>
              </div>
            </div>
          {% endfor %}
        </div>

        <footer class="cart-drawer-footer">
          <div class="cart-drawer-footer-compare-price">
            {% assign subtotalNoDiscount = 0 %}
            {% for item in cart.items %}
              {% assign linePrice = item.quantity | times: item.product.compare_at_price %}
              {% assign subtotalNoDiscount = subtotalNoDiscount | plus: linePrice %}
            {% endfor %}
            {{ subtotalNoDiscount | money }}
          </div>

          <div class="cart-drawer-footer-row">
            <h3>Subtotal</h3>
            <span>{{ cart.total_price | money }}</span>
          </div>
          <button type="submit" name="checkout" class="cart-drawer-button">Checkout</button>
        </footer>
      {% endif %}
    {% endform %}
  </div>
</div>
