{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'announcement' -%}
      <div
        class="announcement-bar color-{{ block.settings.color_scheme }} gradient"
        role="region"
        aria-label="{{ 'sections.header.announcement' | t }}"
        {{ block.shopify_attributes }}
      >
        {%- if block.settings.text != blank -%}
          {%- if block.settings.link != blank -%}
            <a
              href="{{ block.settings.link }}"
              class="announcement-bar__link link link--text focus-inset animate-arrow"
            >
          {%- endif -%}
          <div class="page-width">
            <p class="announcement-bar__message {{ block.settings.text_alignment }} h5">
              <div class="announcement-bar__wrapper">
                <h4 class="elementor-heading-title elementor-size-default">
                  <a href="mailto:info@dermaflage.com" class="elementor-heading-ref-info">info@dermaflage.com</a>
                </h4>

                <span class="test-test">{{ block.settings.text | escape }}</span>

                <a
                  href="https://dermaflage.com/my-account/"
                  class="elementor-button-link elementor-button elementor-size-sm"
                  role="button"
                >
                  <span class="elementor-button-content-wrapper">
                    <span class="elementor-button-icon elementor-align-icon-right"> </span>
                    <div>
                      <span class="elementor-button-text"
                        >Log In
                        <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" clip-rule="evenodd" d="M7.72409 1.95368C7.40271 1.65239 6.8936 1.5 6 1.5C5.1064 1.5 4.59729 1.65239 4.27591 1.95368C3.96257 2.24744 3.5 2.99789 3.5 5C3.5 7.00211 3.96257 7.75256 4.27591 8.04632C4.59729 8.34761 5.1064 8.5 6 8.5C6.8936 8.5 7.40271 8.34761 7.72409 8.04632C8.03743 7.75256 8.5 7.00211 8.5 5C8.5 2.99789 8.03743 2.24744 7.72409 1.95368ZM8.272 9.5C9.28 8.9 10 7.625 10 5C10 0.625 8 0 6 0C4 0 2 0.625 2 5C2 7.625 2.72 8.9 3.728 9.5C4.4 9.9 5.2 10 6 10C6.8 10 7.6 9.9 8.272 9.5ZM3 11C1.34314 11 0 12.3431 0 14C0 15.1046 0.895431 16 2 16H10C11.1046 16 12 15.1046 12 14C12 12.3431 10.6569 11 9 11H3ZM2 14.5H10C10.2761 14.5 10.5 14.2761 10.5 14C10.5 13.1716 9.82843 12.5 9 12.5H3C2.17157 12.5 1.5 13.1716 1.5 14C1.5 14.2761 1.72386 14.5 2 14.5Z" fill="#fff"/>
                        </svg>
                      </span>
                    </div>
                  </span>
                </a>
              </div>

              {%- if block.settings.link != blank -%}
                {% render 'icon-arrow' %}
              {%- endif -%}
            </p>
          </div>
          {%- if block.settings.link != blank -%}
            </a>
          {%- endif -%}
        {%- endif -%}
      </div>
  {%- endcase -%}
{%- endfor -%}

{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
